–– Python ––

pycache/
*.py[cod]
*.pyo
.pyd
venv/
.env
.env.
*.env

–– Airflow / Docker ––

logs/
*.log
airflow/airflow.db
.docker/

–– dbt ––

/dbt/target/
/dbt/.dbt/
/dbt/packages/

–– Terraform ––

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
credentials.tf
.terragrunt-cache/

–– AWS credentials ––

*.pem
*.key
*.crt
.aws/

–– IDE / Editor ––

.vscode/
.idea/
*.swp

–– OS Files ––

.DS_Store
Thumbs.db

–– Build / Output ––

/dist/
/build/
*.egg-info/

–– Notebooks / Data ––

*.ipynb_checkpoints
/data/
*.parquet
*.csv
*.zip

–– Secrets (pattern) ––

secrets.yml
secret.json

-- Lambda Packages
*/package/
*/*.zip
terraform/modules/lambda/lambda_functions/nyc_taxi_ingestion/package/
terraform/modules/lambda/lambda_functions/noaa_weather_ingestion/package/
